<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>For you</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="icon" type="image/x-icon" href="/image/favicon.png">
    </head>

    <body>
        <div class="container">
            <P>
                Ты словно мнимая единица в моей жизни, когда я впервые узнал о комплексных числах.
                Тогда я не был готов понять, понять насколько же ты важна. Войдя в мою жизнь, ты стала той, кого не хочется отпускать.
                Моя жизнь превратилась в множество иррациональных выражаений после нашего знакомства.
                Но я не пифагореец, чтобы быть отрицать важность иррациональных чисел, отрицать их существование. 
                Я принимаю мир таким какой он есть, все чувства и эмоции,
                все вещи которые кажутся нереальными и невозможными.
                Мне нравится всё...
            </P>
            <p>
                Надеюсь тебе нравится тоже
            </p>
        </div>
    </body>
</html>